.DragAndDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.DragAndDropVisible {
  display: flex;
}

.DragAndDropHidden {
  display: none;
}

.DragAndDropContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  text-align: center;
  background-color: #cef0db;
  opacity: 100%;
  border: 2px dashed #1c6ea4;
}
